<?xml version="1.0"?>
<model>
    <name>Rover</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Thomio Watanabe</name>
        <email>thomio.watanabe@usp.br</email>
    </author>

    <description>
        Simple car model.
    </description>
</model>
